<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head('Create New Blog Post')">
    <meta charset="UTF-8" />
    <title>New Blog Post</title>
</head>
<body>
<nav th:replace="fragments :: my-navbar"></nav>
    <div class="container">
        <form
          th:include="fragments :: adForm"
          th:action="@{/posts/create}"
          th:method="POST"
          th:object="${post}"
        >
        </form>
    </div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>